      * {
          border: none;
          border-radius: 0;
          font-family: Iosevka;
          font-size: 11pt;
          min-height: 0;
      }
      window#waybar {
          opacity: 0.9;
          background: @background-darker;
          color: @foreground;
          border-bottom: 2px solid @background;
      }
      #workspaces button {
          padding: 0 10px;
          background: @background;
          color: @foreground;
      }
      #workspaces button:hover {
          box-shadow: inherit;
          text-shadow: inherit;
          background-image: linear-gradient(0deg, @selection, @background-darker);
      }
      #workspaces button.active {
          background-image: linear-gradient(0deg, @purple, @selection);
      }
      #workspaces button.urgent {
          background-image: linear-gradient(0deg, @red, @background-darker);
      }
      #taskbar button.active {
          background-image: linear-gradient(0deg, @selection, @background-darker);
      }
      #clock {
          padding: 0 12px;
          background: @background;
          border-radius: 10px;
          margin: 4px;
      }

      #pulseaudio {
          padding: 0 8px;
          background: @background;
          color: @cyan;
      }

      #pulseaudio.muted {
          color: @comment;
      }

      #custom-nightlight {
          padding: 0 8px;
          background: @background;
          color: @orange;
      }

      #custom-power {
          padding: 0 12px;
          background: @red;
          color: @background;
          font-weight: bold;
      }

      #custom-power:hover {
          background: @pink;
      }

      #custom-notification {
          padding: 0 8px;
          background: @background;
          color: @foreground;
          font-family: "NotoSansMono Nerd Font";
      }

      #network {
          padding: 0 8px;
          background: @background;
          color: @green;
      }

      #network.disconnected {
          color: @red;
      }

      #network.linked {
          color: @orange;
      }
