      window {
      margin: 0px;
      border: 1px solid @purple;
      background-color: @background;
      border-radius: 10px;
      }

      #input {
      margin: 5px;
      border: none;
      color: @foreground;
      background-color: @currentLine;
      border-radius: 5px;
      }

      #inner-box {
      margin: 5px;
      border: none;
      background-color: @background;
      }

      #outer-box {
      margin: 5px;
      border: none;
      background-color: @background;
      }

      #scroll {
      margin: 0px;
      border: none;
      }

      #text {
      margin: 5px;
      border: none;
      color: @foreground;
      } 

      #entry.activatable #text {
      color: @background;
      }

      #entry > * {
      color: @foreground;
      }

      #entry:selected {
      background-color: @currentLine;
      }

      #entry:selected #text {
      font-weight: bold;
      }